{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahmad Saoud</title>
    <link rel="stylesheet" href="{%static 'styles.css' %}">

</head>
<body>

    <header> 
        <a href="#" class="logo"> Ahmad</a>
        <nav class="navigation">
            <a href="#" class="services" > Services</a>
            <a href="#" class="projects" > Projects</a>
            <a href="#" class="Contact" > Contact Us </a>

        </nav> 

    </header> 

    <section id="Main">
        <div>
            <h2>Hello , I'm Ahmad <br> <span>Python Programmer</span></h2>
            <h3> I program a App, Bots, ... , using python</h2>
            <a href="#" class="Main-btn"> View Projects</a>
            <div class="social-button" > 
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>

            </div>
        </div>
      

    </section>
</body>
</html>